##ici c'est un fichier qu'on a fait manuellement, qui permet de dégageger ce que l'on ne veut pas que GIT voit. 
##En l'occurrence, node_module, c'est très gros, c'est dommage de le faire travailler sur ça. Donc on l'enlève. 
##Pour ES  build c'est la même chose, pour le dossier dist. 
node_modules
